{% include 'header.html' %} {% include 'sidebar.html' %}

<div class="main-content">
  <div class="page-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div
            class="page-title-box d-sm-flex align-items-center justify-content-between"
          >
            <h4 class="mb-sm-0">Mess Menu Record</h4>
            <div class="page-title-right">
              <ol class="breadcrumb m-0">
                <li class="breadcrumb-item">
                  <a href="javascript: void(0);">Mess</a>
                </li>
                <li class="breadcrumb-item active">Menu List</li>
              </ol>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-header border-bottom-dashed">
              <h5 class="card-title mb-0">Weekly Mess Schedule</h5>
            </div>
            <div class="card-body">
              <table
                id="example"
                class="table table-bordered dt-responsive nowrap table-striped align-middle"
                style="width: 100%"
              >
                <thead class="table-light">
                  <tr>
                    <th>#</th>
                    <th>Student</th>
                    <th>Amount</th>
                    <th>Status</th>
                    <!-- <th>Reference ID</th>
                    <th>safepay_order_id</th> -->
                    <th>Created At</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  {% for x in data %}
                  <tr>
                    <td>{{ forloop.counter }}</td>

                    <td class="fw-bold text-primary">{{ x.student.name }}</td>
                    <td class="fw-bold text-primary">{{ x.amount }}</td>
                    <td class="fw-bold text-primary">{{ x.status }}</td>
                    <!-- <td class="fw-bold text-primary">{{ x.reference_id|default:"-" }}</td>
                    <td class="fw-bold text-primary">{{ x.safepay_order_id|default:"-" }}</td> -->
                    <td class="fw-bold text-primary">{{ x.created_at|date:"d M Y H:i" }}</td>
                    <td>
    {% if x.status == "Pending" %}
        <button type="button" class="btn btn-success btn-sm pay_now_btn" data-id="{{ x.id }}">
            💳 Pay Now
        </button>
    {% else %}
        <button class="btn btn-secondary btn-sm" disabled>Paid</button>
    {% endif %}
</td>





                    
                  </tr>

                  {% empty %}
                  <tr>
                    <td colspan="5" class="text-center text-muted">
                      ✨ No Regular Mess Menu Found
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!--end col-->
      </div>
      <!--end row-->
    </div>
    <!-- container-fluid -->
  </div>
  <!-- End Page-content -->
</div>
<script
  src="https://code.jquery.com/jquery-3.7.1.js"
  integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
  crossorigin="anonymous"
></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
$(document).ready(function(){
    $(document).on("click",".pay_now_btn", function(){
        var payment_id = $(this).data('id'); // payment ID
        window.location.href='/checkout/'+payment_id+"/"

        
    });
});
</script>
