{% include 'header.html' %} {% include 'sidebar.html' %}

<div class="main-content">
  <div class="page-content">
    <div class="container-fluid">
      <!-- start page title -->
      <div class="row">
        <div class="col-12">
          <div
            class="page-title-box d-sm-flex align-items-center justify-content-between bg-galaxy-transparent"
          >
            <h4 class="mb-sm-0">Datatables</h4>

            <div class="page-title-right">
              <ol class="breadcrumb m-0">
                <li class="breadcrumb-item">
                  <a href="javascript: void(0);">Tables</a>
                </li>
                <li class="breadcrumb-item active">Datatables</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
      <!-- end page title -->

      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-header">
              <h5 class="card-title mb-0">Students Records</h5>
            </div>
            <div class="card-body">
              <table
                id="example"
                class="table table-bordered dt-responsive nowrap table-striped align-middle"
                style="width: 100%"
              >
                <thead>
                  <tr>
                    <th data-ordering="false">ID</th>
                    <th data-ordering="false">Name</th>
                    <th data-ordering="false">Roll-No</th>
                    <th data-ordering="false">Student-Class</th>
                    <th>Email</th>
                    <th>Contact No</th>
                    <th>Hostel Room</th>

                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  {% for x in student %}
                  <tr>
                    <td>{{ x.id }}</td>
                    <td>{{ x.name }}</td>
                    <td>{{ x.roll_no }}</td>
                    <td>{{ x.student_class }}</td>
                    <td>{{ x.email }}</td>
                    <td>{{ x.contact }}</td>
                    <td>{{ x.hostel_room }}</td>
                    <td>
                      <div class="dropdown d-inline-block">
                        <button
                          class="btn btn-soft-secondary btn-sm"
                          type="button"
                          data-bs-toggle="dropdown"
                          aria-expanded="false"
                        >
                          <i class="ri-more-fill align-middle"></i>
                        </button>

                        <ul class="dropdown-menu dropdown-menu-end">
                          
                          <li>
                            <a href="{{x.id}}" id="edit_data" class="dropdown-item">
                              <i class="ri-pencil-fill me-2 text-muted"></i>
                              Edit
                            </a>
                          </li>
                          <li>
                            <a href="{{x.id}}"  id="delete_data" class="dropdown-item">
                              <i class="ri-delete-bin-fill me-2 text-muted"></i>
                              Delete
                            </a>
                          </li>
                        </ul>
                      </div>
                    </td>
                  </tr>
                  {% empty %}
                  <tr>
                    <td colspan="8" class="text-center">No students found</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!--end col-->
      </div>
      <!--end row-->
    </div>
    <!-- container-fluid -->
  </div>
  <!-- End Page-content -->

  <footer class="footer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6">
          <script>
            document.write(new Date().getFullYear());
          </script>
          © Velzon.
        </div>
        <div class="col-sm-6">
          <div class="text-sm-end d-none d-sm-block">
            Design & Develop by Themesbrand
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
<script>
    $(document).ready(function(){
        $(document).on("click","#delete_data",function(){
            var id=$(this).attr('href')
            alert(id)
        })
    })
</script>